IT-WorkRu/.idea
IT-WorkRu/.venv
IT-WorkRu/myplatform/.env
IT-WorkRu/myplatform/.coveragerc
IT-WorkRu/myplatform/.coverage
.env
IT-WorkRu/platform_venv
interview_module/.idea
interview_module/.venv
interview_module/SadTalker
interview_module/gfpgan
interview_module/try
interview_module/.env
Real_time_HR/.idea
Real_time_HR/.venv
Real_time_HR/gfpgan
Real_time_HR/SadTalker
Real_time_HR/.env
Real_time_HR/__pycache__
interview_module/__pycache__
parsing_llm/.idea
parsing_llm/.venv
parsing_llm/__pycache__
parsing_llm/.env

*.webm
*.ogg
*.mp4
*.log

*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

*.pth
*.pt
*.ckpt
*.weights

tests/ai_tests/.ai_venv
tests/ai_tests/__pycache__
tests/ai_tests/animate_data
tests/ai_tests/batch_run_2
tests/ai_tests/batch_run_50
tests/ai_tests/data
tests/ai_tests/datasets
tests/ai_tests/gfpgan
tests/ai_tests/result_1
tests/ai_tests/results
tests/ai_tests/SadTalker
tests/ai_tests/sadtalker_batch_output
tests/ai_tests/syncnet_weights
tests/ai_tests/SyncNet-PyTorch
tests/ai_tests/TEMP_AUDIO
tests/ai_tests/TEMP_VIDEO
tests/ai_tests/tmp_syncnet
tests/ai_tests/try
