IT-WorkRu/.idea
IT-WorkRu/.venv
IT-WorkRu/myplatform/.env
IT-WorkRu/platform_venv
interview_module/.idea
interview_module/.venv
interview_module/SadTalker
interview_module/gfpgan
interview_module/try
interview_module/.env
Real_time_HR/.idea
Real_time_HR/.venv
Real_time_HR/gfpgan
Real_time_HR/SadTalker
Real_time_HR/.env
Real_time_HR/__pycache__
interview_module/__pycache__
parsing_llm/.idea
parsing_llm/.venv
parsing_llm/__pycache__
parsing_llm/.env

*.webm
*.ogg
*.mp4
*.log

*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

*.pth
*.pt
*.ckpt
*.weights
